// @import './src/main.scss';

:root{
    --primary-color: #26aa52;
    --secondary-color: #dbdbdb;
    --colorOne: #4494f0;
    --colorTwo: #7caab3;
    --HoverColor: #b8e2f5;
    --whiteColor: #f7f7f7;
    --blackColor: #1d1a1a;
    --textColor: #272727;
    --borderColor: #dbdbdb;
    --WhiteColorDeam: #f5f5f5;
    --greyBg: #f5f5f5;
    --greyText: #757575;
    --inputColor: #f5f5f5;
    --boxShadow: 0 0 10px rgba(0,0,0,0.1);
    --transition: .4s ease-in-out;
    
}



.home{
    display: flex;

    .homeContainer{

        flex: 6;

    }
}
















